<div class="box-show">
    <div class="jumbotron">
        <%= link_to @move, class: "internal-nav" do %>
            <i class="fa fa-arrow-left"></i>
            Back
        <% end %>
        <div class="jumbotron-media-links">
            <%= link_to "Edit Box", edit_box_path(@box) %> | 
            <%= link_to "Delete Box", @box, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
        <div class="move-container">
            <div class="media">
              <div class="media-body">
                <h2 class="media-heading"><%= @box.name %></h2>
                <h3 class="box-info">
                    <%= pluralize(@item_count, 'Item') %>
                </h3>
                <div id="print-label" class="stats">
                    <%= link_to edit_box_path(@box) do %>
                        <i class="fa fa-qrcode"></i> 
                        Print Label
                    <% end %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div>
    <% if @items.empty? %>
        <div class="empty-state-container">
            <div class="alert alert-info">
                <p>There are no items yet. Add them below.</p>
            </div>
        </div>
    <% end %>
    
    <div class="btn-container">
        <%= link_to new_box_item_path(@box), class: "btn btn-block" do %>
            <i class="fa fa-plus"></i>
            Add Item
        <% end %>
    </div>
    
    <div class="item-container">
        <% @items.each do |item| %>
            <%= link_to item_path(item) do %>
                <div class="col-md-3">
                    <div class="media">
                        <div class="image-wrapper">
                            <%= image_tag item.image.url(:medium), class: "item-image" %>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading"><%= item.name %></h2>
                            <p class="secondary-heading">Added <%= time_ago_in_words(item.created_at) %> ago</p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    
</div>