<% if @moves.empty? %>
    <div class="empty-state-container">
       <div class="alert alert-info">
            <p>You have no moves scheduled.</p>
        </div> 
    </div>
<% end %>

<div class="btn-container">
    <%= link_to new_move_path, class: "btn btn-block" do %>
        <i class="fa fa-plus"></i>
        New Move
    <% end %>
</div>

<div class="move-container">
    <% @moves.each do |move| %>
        <%= link_to move do %>
            <div class="col-md-4">
                <div class="media">
                  <div class="media-body">
                    <h2 class="media-heading"><%= move.name %></h2>
                    <h3 class="box-info">
                        <%= move.from %>
                        <i class="fa fa-arrow-right"></i>
                        <%= move.to %>
                    </h3>
                  </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>