<div class="jumbotron">
    <%= link_to root_path, class: "internal-nav" do %>
        <i class="fa fa-arrow-left"></i>
        Back
    <% end %>
    <div class="jumbotron-media-links">
        <%= link_to "Edit Move", edit_move_path %> | 
        <%= link_to "Delete Move", @move, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <div class="move-container">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading"><%= @move.name %></h2>
            <h3 class="box-info">
                <%= @move.from %>
                <i class="fa fa-arrow-right"></i>
                <%= @move.to %>
            </h3>
            <p class="stats"><%= pluralize(@box_count, 'Box') %></p>
          </div>
        </div>
    </div>
</div>

<div>
    <% if @boxes.empty? %>
        <div class="empty-state-container">
           <div class="alert alert-info">
                <p>Planning on moving without boxes? If not add boxes below.</p>
            </div> 
        </div>
    <% end %>
    
    <div class="btn-container">
        <%= link_to new_move_box_path(@move), class: "btn btn-block" do %>
            <i class="fa fa-plus"></i>
            Add Box
        <% end %>
    </div>
    
    <div class="move-container">
        <% @boxes.each do |box| %>
         <%= link_to box_path(box) do %>
             <div class="col-md-4">
                <div class="media">
                  <div class="media-body">
                    <h2 class="media-heading"><%= box.name %></h2>
                  </div>
                  <div class="links">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default"><%= link_to "View", box_path(box) %></button>
                        <button type="button" class="btn btn-default"><%= link_to "Edit", edit_box_path(box) %></button>
                        <button type="button" class="btn btn-default"><%= link_to "Delete", box_path(box), method: :delete, data: { confirm: "Are you sure?" } %></button>
                    </div>
                  </div>
                </div>
             </div>
         <% end %>
        <% end %>
    </div>
</div>